@use "sass:color";

$first-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$footer-color: #353535;
$all-padding: 16px;

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


.header {
    /**padding: 16px $all-padding;**/
    /**box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);**/
    position: relative;
    z-index: 1000;
  
    &__logo {
        font-family: "Shrikhand", "cursive";
        margin: 0;
        text-align: center;
    }
}

.container {
    max-width: 1280px;
    margin: auto;
    position: relative;
}

.footer {
    background-color: $footer-color;
      
    .container {
        display: flex;
        flex-direction: column;
        padding: $all-padding;
    }
      
    &__logo {
        color: white;
        font-family: "Shrikhand", "cursive";
        margin: 0;
        font-size: 19.2px;
        margin-bottom: $all-padding;
    }
    
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    &__listext {
        margin: 8px 0;
    
        &:first-child {
            margin-top: 0;
        }
    
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__link {
        color: white;
        text-decoration: none;
    
        &:hover {
            text-decoration: underline;
        }
    }
    
    &__icon {
        width: 19.2px;
        margin-right: 8px;
    }
}

@mixin button($type) {
    border: 0;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 17.6px;
    border-radius: 100px;
    color: white;
    background-color: rgb(104, 104, 104);
    background-image: linear-gradient(0deg, color.scale($first-color) 0%, color.scale($second-color) 100%);
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  
    &:hover {
      background-color: white;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.50);
    }
  
    a {
      text-decoration: none;
      color: inherit;
    }
  }