@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.header {
  /**padding: 16px $all-padding;**/
  /**box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);**/
  position: relative;
  z-index: 1000;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 19.2px;
  margin-bottom: 16px;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listext {
  margin: 8px 0;
}
.footer__listext:first-child {
  margin-top: 0;
}
.footer__listext:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 19.2px;
  margin-right: 8px;
}

.location {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
  background-color: #f3f3f3;
  font-size: 19.2px;
  position: relative;
}
.location__icon {
  margin-right: 16px;
}
.location__text {
  font-weight: 700;
}

.introduction {
  padding: 32px;
  text-align: center;
  background-color: #fafafa;
}
.introduction__title {
  margin: 0;
}
.introduction__subtitle {
  font-weight: 300;
  margin: 24px 0;
}
.introduction__button {
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17.6px;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.introduction__button:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.introduction__button a {
  text-decoration: none;
  color: inherit;
}

.navigation {
  padding: 32px 16px;
}
.navigation__title {
  margin-top: 0;
}
.navigation__steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 1024px) {
  .navigation__steps {
    display: flex;
  }
}
.navigation__step {
  padding: 24px;
  margin: 16px 0 16px 12px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
@media (min-width: 1024px) {
  .navigation__step {
    flex: 1;
    margin: 0;
    margin-left: 32px;
  }
  .navigation__step:first-child {
    margin-left: 12px;
  }
}
.navigation__step:first-child {
  margin-top: 0;
}
.navigation__step:last-child {
  margin-bottom: 0;
}
.navigation__step::before {
  counter-increment: comptes_liste 1;
  content: counter(comptes_liste) " ";
  background: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -12px;
}
.navigation__icon {
  margin-right: 16px;
  color: #7e7e7e;
}

.Restaurants {
  background-color: #f6f6f6;
  padding: 32px 16px;
}

.Resto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 32px;
  row-gap: 32px;
}
@media (min-width: 1024px) {
  .Resto {
    grid-template-columns: repeat(2, 1fr);
  }
}

.resto {
  background-color: white;
  border-radius: 16px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.resto__img {
  height: 192px;
  border: transparent solid 0px;
  border-radius: 16px 16px 0 0;
  box-shadow: none;
  object-fit: cover;
  width: 100%;
}
.resto__new {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 16px;
}
.resto__footer {
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
}
.resto__content {
  flex: 1;
}
.resto__title {
  margin: 0;
  margin-bottom: 4px;
}
.resto__subtitle {
  margin: 0;
}
.resto__btn {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resto__like {
  background-color: white !important;
}

.resto_Img {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  object-fit: cover;
}

.header--Arrow {
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 32px;
  height: 32px;
  width: 32px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 19.2px;
  color: black;
}

.menu {
  margin-top: -64px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__head {
  padding: 16px 32px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.menu__heart {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.menu__btn:hover .menu__heart--noBg {
  opacity: 0;
}

.sub_menu {
  display: grid;
}
@media (min-width: 1024px) {
  .sub_menu {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
  }
}
.sub_menu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
  font-weight: normal;
}
.sub_menu__title::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.entrées {
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px;
}

.menuarticle {
  display: flex;
  background-color: white;
  padding: 16px;
  margin: 16px 0;
  border-radius: 12px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  max-width: 100%;
}
.menuarticle__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuarticle__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
.menuarticle__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}
.menuarticle__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  padding-left: 8px;
}
.menuarticle__confirmation {
  background-color: #99E2D0;
  margin: -16px -80px -16px 16px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuarticle:hover .menuarticle__confirmation {
  margin-right: -16px;
}
.menuarticle__wrapIcon {
  height: 25.6px;
  width: 25.6px;
  border-radius: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menuarticle:hover .menuarticle__wrapIcon {
  transform: rotate(0);
}
.menuarticle__icon {
  color: #99E2D0;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.commandBtn {
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17.6px;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.commandBtn:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.commandBtn a {
  text-decoration: none;
  color: inherit;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.Loader {
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  animation: Loader 0.01s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10000;
}
.Loader__Bars:before, .Loader__Bars:after, .Loader__Bars span {
  content: "";
  position: absolute;
  left: 49.5%;
  top: 30%;
  animation: growLoader 2s linear;
  opacity: 0;
}
.Loader__Bars:before {
  background-color: #FF79DA;
  width: 30px;
  height: 70px;
  animation-delay: 0s;
}
.Loader__Bars span {
  background-color: #9356DC;
  width: 30px;
  height: 70px;
  left: 48%;
  animation-delay: -0.33s;
  /**@media screen and (min-width:600px) {
  	left: 25%;
  }**/
}
.Loader__Bars:after {
  background-color: #99E2D0;
  width: 30px;
  height: 70px;
  left: 51%;
  animation-delay: -0.66s;
  /**@media screen and (min-width:600px) {
  	left: 75%;
  }**/
}

@keyframes growLoader {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes Loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
